

  .section-heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .sub-text {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    color: rgb(36, 36, 36);
  }

  .text-content {
    max-width: 600px;
    text-align: justify;
  }
  .vision .image-container {
    box-shadow: #ff9742 -30px 20px 0px;
    padding: 1px;
  }
  .mission .image-container {
    box-shadow: #5cabff 30px 20px 0px;
    padding: 1px;
  }

  .image-container {
    width: 400px;
  }
  .image-container img {
    width: 100%;
  }





  
.vision-image {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100%;
    height: 100%;
    background: rgba(255, 151, 66, 0.3) !important;
    z-index: -1;
    border-radius: 1rem;
  }
}

.mission-image {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    background: rgba(92, 171, 255, 0.3);
    z-index: -1;
    border-radius: 1rem;
  }
}

@media (max-width: 992px) {
  .vision-image::after,
  .mission-image::before {
    display: none;
  }
}