@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
  :root { 
    --background-color: #ffffff; 
    --default-color: #444444; 
    --heading-color: #556270; 
    --accent-color: #3a2cff;
    --surface-color: #ffffff; 
    --contrast-color: #ffffff;
  }
  
  :root {
    --nav-color: #556270;
    --nav-hover-color: #2f2cff; 
    --nav-mobile-background-color: #ffffff; 
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #556270; 
    --nav-dropdown-hover-color: #2f2cff; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  }
  
  /* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */
  
  .light-background {
    --background-color: #f2f4f6;
    --surface-color: #ffffff;
  }
  
  .dark-background {
    --background-color: #3b4654;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #444e5b;
    --contrast-color: #ffffff;
  }
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/

  
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }
  
  
 

  


  /*--------------------------------------------------------------
  # Global Footer
  --------------------------------------------------------------*/
  .footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    position: relative;
  }
  
  .footer .footer-top {
    padding-top: 50px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 25px;
  }
  
  .footer .footer-about .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-about .logo span {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--heading-font);
    color: var(--heading-color);
  }
  
  .footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: var(--accent-color);
  }
  
  .footer .footer-contact p {
    margin-bottom: 5px;
  }
  
  .footer .footer-newsletter .newsletter-form {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 6px 8px;
    position: relative;
    border-radius: 4px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
    display: flex;
    background-color: var(--surface-color);
    transition: 0.3s;
  }
  
  .footer .footer-newsletter .newsletter-form:focus-within {
    border-color: var(--accent-color);
  }
  
  .footer .footer-newsletter .newsletter-form input[type=email] {
    border: 0;
    padding: 4px;
    width: 100%;
    background-color: var(--surface-color);
    color: var(--default-color);
  }
  
  .footer .footer-newsletter .newsletter-form input[type=email]:focus-visible {
    outline: none;
  }
  
  .footer .footer-newsletter .newsletter-form input[type=submit] {
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    margin: -7px -9px -7px 0;
    background: var(--accent-color);
    color: var(--contrast-color);
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  
  .footer .footer-newsletter .newsletter-form input[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
  
  .footer .copyright {
    padding: 25px 0;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  
  .footer .credits {
    margin-top: 6px;
    font-size: 13px;
  }
  
  /*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
  section,
  .section {
    color: var(--default-color);
    background-color: var(--background-color);
   
    scroll-margin-top: 90px;
    overflow: clip;
  }
  
  @media (max-width: 1199px) {
  
    section,
    .section {
      scroll-margin-top: 66px;
    }
  }
  
  /*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
  .section-title {
   
    position: relative;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    position: relative;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: var(--accent-color);
    margin: 4px 10px;
  }
  
  .section-title p {
    color: var(--heading-color);
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--heading-font);
  }
  

  
  /*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
  .about ul {
    list-style: none;
    padding: 0;
  }
  
  .about ul li {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .about ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--accent-color);
  }
  
  .about .read-more {
    background: var(--accent-color);
    color: var(--contrast-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 28px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .about .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
  }
  
  .about .read-more:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
  
  .about .read-more:hover i {
    transform: translate(5px, 0);
  }
  
  /*--------------------------------------------------------------
  # Clients Section
  --------------------------------------------------------------*/
  .clients {
    padding: 20px 0;
  }
  
  .clients .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .clients .client-logo img {
    padding: 20px 40px;
    max-width: 90%;
    transition: 0.3s;
   
    filter: grayscale(100);
  }
  
  .clients .client-logo img:hover {
    filter: none;
    opacity: 1;
  }
  
  @media (max-width: 640px) {
    .clients .client-logo img {
      padding: 20px;
    }
  }
  
  /*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
  .services .service-item {
    background-color: var(--surface-color);
    padding: 30px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
    transition: 0.3s;
  }
  
  .services .service-item .icon {
    font-size: 36px;
    line-height: 0;
    margin-right: 30px;
    color: var(--accent-color);
  }
  
  .services .service-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .services .service-item .title a {
    color: var(--heading-color);
  }
  
  .services .service-item .description {
    line-height: 24px;
    font-size: 14px;
    margin: 0;
  }
  
  .services .service-item:hover {
    border-color: var(--accent-color);
  }
  
  .services .service-item:hover .title a {
    color: var(--accent-color);
  }
  

  /*--------------------------------------------------------------
  # About 2 Section
  --------------------------------------------------------------*/

  
  .about-2 .nav-pills {
    border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
  }
  
  .about-2 .nav-pills li+li {
    margin-left: 40px;
  }
  
  .about-2 .nav-link {
    background: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--default-color);
    padding: 12px 0;
    margin-bottom: -2px;
    border-radius: 0;
  }
  
  .about-2 .nav-link.active {
    color: var(--accent-color);
    background: none;
    border-bottom: 3px solid var(--accent-color);
  }
  
  @media (max-width: 575px) {
    .about-2 .nav-link {
      font-size: 16px;
    }
  }
  
  .about-2 .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: var(--default-color);
  }
  
  .about-2 .tab-content i {
    font-size: 22px;
    line-height: 0;
    margin-right: 8px;
    color: var(--accent-color);
  }
  
  
  /*--------------------------------------------------------------
  # Team Section
  --------------------------------------------------------------*/
  .team .team-member {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: 0.5s;
    padding: 30px;
  }
  
  @media (max-width: 468px) {
    .team .team-member {
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
    }
  }
  
  .team .team-member .pic {
    overflow: hidden;
    width: 150px;
    border-radius: 5px;
    flex-shrink: 0;
  }
  
  .team .team-member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .team-member:hover {
    transform: translateY(-10px);
  }
  
  .team .team-member .member-info {
    padding-left: 30px;
  }
  
  @media (max-width: 468px) {
    .team .team-member .member-info {
      padding: 30px 0 0 0;
      text-align: center;
    }
  }
  
  .team .team-member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .team .team-member span {
    display: block;
    font-size: 15px;
    position: relative;
    font-weight: 500;
  }
  
  .team .team-member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: color-mix(in srgb, var(--default-color), transparent 85%);
    bottom: 0;
    left: 0;
  }
  
  @media (max-width: 468px) {
    .team .team-member span::after {
      left: calc(50% - 25px);
    }
  }
  
  .team .team-member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .team .team-member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
  
  @media (max-width: 468px) {
    .team .team-member .social {
      justify-content: center;
    }
  }
  
  .team .team-member .social a {
    background: color-mix(in srgb, var(--default-color), transparent 94%);
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 36px;
    height: 36px;
  }
  
  .team .team-member .social a i {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .team-member .social a:hover {
    background: var(--accent-color);
  }
  
  .team .team-member .social a:hover i {
    color: var(--contrast-color);
  }
  
  .team .team-member .social a+a {
    margin-left: 8px;
  }
  
  /*--------------------------------------------------------------
  # Testimonials Section
  --------------------------------------------------------------*/
  .testimonials .testimonial-item {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    position: relative;
    height: 100%;
  }
  
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50px;
    border: 6px solid var(--background-color);
    float: left;
    margin: 0 10px 0 0;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin: 0;
  }
  
  .testimonials .testimonial-item .stars {
    margin: 10px 0;
  }
  
  .testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
  }
  
  .testimonials .testimonial-item .quote-icon-left,
  .testimonials .testimonial-item .quote-icon-right {
    color: color-mix(in srgb, var(--accent-color), transparent 50%);
    font-size: 26px;
    line-height: 0;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
  }
  
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px 0 0 0;
    padding: 0;
  }
  
  
  /*--------------------------------------------------------------
  # Service Details Section
  --------------------------------------------------------------*/
  .service-details .services-list {
    background-color: var(--surface-color);
    padding: 10px 30px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    margin-bottom: 20px;
  }
  
  .service-details .services-list a {
    display: block;
    line-height: 1;
    padding: 8px 0 8px 15px;
    border-left: 3px solid color-mix(in srgb, var(--default-color), transparent 70%);
    margin: 20px 0;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    transition: 0.3s;
  }
  
  .service-details .services-list a.active {
    color: var(--heading-color);
    font-weight: 700;
    border-color: var(--accent-color);
  }
  
  .service-details .services-list a:hover {
    border-color: var(--accent-color);
  }
  
  .service-details .services-img {
    margin-bottom: 20px;
  }
  
  .service-details h3 {
    font-size: 26px;
    font-weight: 700;
  }
  
  .service-details h4 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .service-details p {
    font-size: 15px;
  }
  
  .service-details ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .service-details ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
  }
  
  .service-details ul i {
    font-size: 20px;
    margin-right: 8px;
    color: var(--accent-color);
  }
  






  /*--------------------------------------------------------------
  # Contact Section
  --------------------------------------------------------------*/
  .contact .info-item+.info-item {
    margin-top: 40px;
  }
  
  .contact .info-item i {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 20px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .contact .info-item h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .php-email-form {
    height: 100%;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .contact .php-email-form input[type=text]::placeholder,
  .contact .php-email-form input[type=email]::placeholder,
  .contact .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
  }
  
  .contact .php-email-form button[type=submit] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
  
